# Anthrophic
ANTHROPIC_API_KEY=

# Backblaze B2
B2_KEY_ID=
B2_APP_KEY=
B2_BUCKET=
B2_REGION=

# GMI cloud
GMI_API_KEY=

# ElevenLabs
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

# Stability AI
STABILITY_API_KEY=

# App
APP_ENV=development
PORT=8000